$primary-font-size: 12pt;
$secondary-font-size: 16pt;
$tertiary-font-size: 20pt;
$quarternary-font-size: 24pt;

// loader component
$loader-spinner-size: 8vmin;
$loader-message-size: $secondary-font-size;

// product card
$default-photo-icon-size: 8vmin;
$price-font-weight: 500;
$current-price-font-size: $quarternary-font-size;
$old-price-font-size: $primary-font-size;