@import '../../../styles/colors.scss';

#catalog-page{
    min-height: 100vh;
    background-color: $background-primary-light;
    color: $primary-dark;
    display: flex;
    justify-content: center;
}

#catalog-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 1.5em;
}

@media (max-width: 1220px){
    #catalog-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 952px){
    #catalog-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 645px){
    #catalog-container{
        grid-template-columns: 1fr;
    }
}