@import '../../../styles/colors.scss';
@import '../../../styles/sizes.scss';

#loader-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loader-spinner {
    height: $loader-spinner-size;
    pointer-events: none;
}

.loader-message {
    color: $primary-dark;
    font-size: $loader-message-size;
}

@media (prefers-reduced-motion: no-preference) {
    .loader-spinner {
        animation: spin infinite 1s linear;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
  